# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# IOPipe directories
iopipe_handlers

# Epsagon directories
epsagon_handlers

# Stack outputs from serverless plugin
.stack-outputs.yml

# Test coverage output
.nyc_output
